{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EDSUU-BAY | Your Safe Space for Care</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" href="{% static 'assets/images/logo.png' %}">
    <!-- Base Styling  -->
    <link rel="stylesheet" href="{% static 'assets/main/css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'assets/main/css/style.css' %}">

</head>

<body>
    <div id="main-wrapper" class="show">


        <!-- start section sidebar -->
        <aside class="left-panel nicescroll-box">
            <nav class="navigation">
                <ul class="list-unstyled main-menu">
                    <li class="has-submenu active">
                        <a href="{% url 'homenurse' %}">
                            <i class="fas fa-th-large"></i>
                            <span class="nav-label">Dashboard</span>
                        </a>
                    </li>
                    <li class="has-submenu">
                        <a href="javascript:void()" class="has-arrow mm-collapsed">
                            <i class="fas fa-users"></i>
                            <span class="nav-label">Workers</span>
                        </a>
                        <ul class="list-unstyled mm-collapse">
                            <li><a href="{% url 'workers' %}">All Workers</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <a href="javascript:void()" class="has-arrow mm-collapsed">
                            <i class="fas fa-users"></i>
                            <span class="nav-label">Treatment</span>
                        </a>
                        <ul class="list-unstyled mm-collapse">
                            <li><a href="{% url 'treatment' %}">Give Treatment</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <a href="javascript:void()" class="has-arrow mm-collapsed">
                            <i class="fas fa-users"></i>
                            <span class="nav-label">Patients</span>
                        </a>
                        <ul class="list-unstyled mm-collapse">
                            <li><a href="{% url 'all_patient_nurse' %}">All Patients</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <a href="javascript:void()" class="has-arrow mm-collapsed">
                            <i class="fas fa-cog"></i>
                            <span class="nav-label">Settings</span>
                        </a>
                        <ul class="list-unstyled mm-collapse">
                            <li><a href="{% url 'nurse_settings' %}">Nurse Settings</a></li>
                        </ul>
                    </li>
                    <!-- <li class="has-submenu">
                        <a href="javascript:void()" class="has-arrow mm-collapsed">
                            <i class="fa fa-tag"></i>
                            <span class="nav-label">Authentication</span>
                        </a>
                        <ul class="list-unstyled mm-collapse">
                            <li><a href="page-login.html">Login simple</a></li>
                            <li><a href="page-register.html">Register simple</a></li>
                            <li><a href="page-forgot-password.html">Page forgot password</a></li>
                            <li><a href="page-error-404.html">Error 404</a></li>
                        </ul>
                    </li> -->
                </ul>
            </nav>
        </aside>
        <!-- End section sidebar -->


        <!-- start logo components -->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="#"> <img class="logo-tabib" src="{% static 'assets/images/download.png' %}" alt=""></a>
                <a href="#"><img class="brand-title" src="{% static 'assets/images/logo.png' %}" alt=""></a>
            </div>
        </div>
        <!-- End logo components -->


        <!-- start section header -->
        <div class="header">
            <header class="top-head container-fluid">
                <div class="nav-control">
                    <div class="hamburger">
                        <span class="line"></span><span class="line"></span><span class="line"></span>
                    </div>
                    <div class="left-header content-header__menu">
                        <ul class="list-unstyled">
                            <li class="nav-link btn">
                                <a href="{% url 'vitals' %}"><i class="far fa-calendar-check"></i> <span>Get Patient Vital Signs</span> </a>
                            </li>
                            <!-- <li class="nav-link btn">
                                <a href="new-prescription.html"><i class="far fa-file-alt"></i> <span> Write a prescription</span></a>
                            </li> -->
                        </ul>
                    </div>
                </div>
                <div class="header-right">
                    <div class="my-account-wrapper widget-7">
                        <div class="account-wrapper">
                            <div class="account-control">
                                <a class="login header-profile" href="#" title="Sign in">
                                    <div class="header-info">
                                        <span style="text-transform: capitalize;">{{ user.get_full_name }}</span>   
                                        <small>{{ user.userprofile.get_role_display }}</small> <!-- Assuming you have a role field in UserProfile model -->
                                    </div>
                                    <img src="{% if user.userprofile.profile_picture %}{{ user.userprofile.profile_picture.url }}{% else %}{% static 'assets/images/profile.jpg' %}{% endif %}" alt="Profile Picture">
                                </a>
                                <div class="account-dropdown-form dropdown-container">
                                    <div class="form-content">
                                        <a href="{% url 'nurse_settings' %}">
                                            <i class="far fa-user"></i>
                                            <span class="ml-2">Profile</span>
                                        </a>
                                        <a href="{% url 'nurse_inbox' %}">
                                            <i class="far fa-envelope"></i>
                                            <span class="ml-2">Inbox</span>
                                        </a>
                                        <a href="{% url 'login' %}">
                                            <i class="fas fa-sign-in-alt"></i>
                                            <span class="ml-2">Logout </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <!-- End section header -->


        <!-- start section content -->
        <div class="content-body">
            <div class="warper container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-lg-12 p-md-0">
                        <h4 class="text-primary">Good morning, <span class="names" style="text-transform: capitalize;">Nurse {{ user.get_full_name }}</span></h4>
                    </div>
                </div>
                <div class="new-patients main_container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card shadow">
                                <div class="card-header">
                                    <h4 class="card-title">Appointment Lists</h4>
                                </div>
                                <div class="card-body">
                                    
                                    <div class="table-responsive">
                                        <table id="example1" class="display nowrap">
                                            <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Patient</th>
                                                    <th>MatNo</th>
                                                    <th>Appointed To</th>
                                                    <!-- <th>Status</th> -->
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for vital in vital_signs %}
                                                <tr>
                                                    <td>{{ vital.created_at|date:"d M Y H:i" }}</td>
                                                    <td style="text-transform: capitalize ;">{{ vital.patient.first_name }} {{ vital.patient.last_name }}</td>
                                                    <td style="text-transform: uppercase;">{{ vital.patient.matriculation_number }}</td>
                                                    <td>Dr. <span style="color: #000000; text-transform: capitalize;">{{ vital.doctor.user.first_name }} {{ vital.doctor.user.last_name }}</span></td>
                                                    <!-- <td>
                                                        {% if prescription.treatment_status == 'Not Started' %}
                                                            <span style="background-color: #5490d3; padding: 7px; border-radius: 6%; color: #fff; font-weight: bold; font-size: 10px;">Not Started</span>
                                                        {% elif prescription.treatment_status == 'Started' %}
                                                            <span style="background-color: #62b16e; padding: 7px; border-radius: 6%; color: #fff; font-weight: bold; font-size: 10px;">Started</span>
                                                        {% elif prescription.treatment_status == 'Sent for Treatment' %}
                                                            <span style="background-color: #d9534f; padding: 7px; border-radius: 6%; color: #fff; font-weight: bold; font-size: 10px;">Sent for Treatment</span>
                                                        {% endif %}
                                                    </td> -->
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                            
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End section content -->


        <!-- start section footer -->
        <div class="footer">
            <div class="copyright">
                <p class="mb-0">Copyright © Designed &amp; Developed by <a href="#" target="_blank">Paul Erhuvwu</a>
                    2024
                </p>
            </div>
        </div>
        <!-- End section footer -->

        
    </div>
    <!-- JQuery v3.5.1 -->
    <script src="{% static 'assets/plugins/jquery/jquery.min.js' %}"></script>

    <!-- popper js -->
    <script src="{% static 'assets/plugins/popper/popper.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.js' %}"></script>

    <!-- Moment -->
    <script src="{% static 'assets/plugins/moment/moment.min.js' %}"></script>

    <!-- Date Range Picker -->
    <script src="{% static 'assets/plugins/daterangepicker/daterangepicker.min.js' %}"></script>

    <!-- Main Custom JQuery -->
    <script src="{% static 'assets/js/toggleFullScreen.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'assets/js/option-themes.js' %}"></script>
    <!-- Tabeles -->
    <script src="{% static 'assets/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assets/js/init-tdatatable.js' %}"></script>
    <!-- Chart js -->
    <script src="{% static 'assets/plugins/chart/chart/Chart.min.js' %}"></script>
    <script src="{% static 'assets/js/charts-custom.js' %}"></script>
    <script src="{% static 'assets/js/option-themes.js' %}"></script>

</body>


</html>