{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EDSUU-BAY | Your Safe Space for Care</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" href="{% static 'assets/images/logo.png' %}">
    <!-- Base Styling  -->
    <link rel="stylesheet" href="{% static 'assets/main/css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'assets/main/css/style.css' %}">

</head>

<body>
    <div id="main-wrapper" class="show">


        <!-- start section sidebar -->
        <aside class="left-panel nicescroll-box">
            <nav class="navigation">
                <ul class="list-unstyled main-menu">
                    <li class="has-submenu active">
                        <a href="{% url 'homenurse' %}">
                            <i class="fas fa-th-large"></i>
                            <span class="nav-label">Dashboard</span>
                        </a>
                    </li>
                    <li class="has-submenu">
                        <a href="javascript:void()" class="has-arrow mm-collapsed">
                            <i class="fas fa-users"></i>
                            <span class="nav-label">Workers</span>
                        </a>
                        <ul class="list-unstyled mm-collapse">
                            <li><a href="{% url 'workers' %}">All Workers</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <a href="javascript:void()" class="has-arrow mm-collapsed">
                            <i class="fas fa-users"></i>
                            <span class="nav-label">Treatment</span>
                        </a>
                        <ul class="list-unstyled mm-collapse">
                            <li><a href="{% url 'treatment' %}">Give Treatment</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <a href="javascript:void()" class="has-arrow mm-collapsed">
                            <i class="fas fa-users"></i>
                            <span class="nav-label">Patients</span>
                        </a>
                        <ul class="list-unstyled mm-collapse">
                            <li><a href="{% url 'all_patient_nurse' %}">All Patients</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <a href="javascript:void()" class="has-arrow mm-collapsed">
                            <i class="fas fa-cog"></i>
                            <span class="nav-label">Settings</span>
                        </a>
                        <ul class="list-unstyled mm-collapse">
                            <li><a href="{% url 'nurse_settings' %}">Nurse Settings</a></li>
                        </ul>
                    </li>
                    <!-- <li class="has-submenu">
                        <a href="javascript:void()" class="has-arrow mm-collapsed">
                            <i class="fa fa-tag"></i>
                            <span class="nav-label">Authentication</span>
                        </a>
                        <ul class="list-unstyled mm-collapse">
                            <li><a href="page-login.html">Login simple</a></li>
                            <li><a href="page-register.html">Register simple</a></li>
                            <li><a href="page-forgot-password.html">Page forgot password</a></li>
                            <li><a href="page-error-404.html">Error 404</a></li>
                        </ul>
                    </li> -->
                </ul>
            </nav>
        </aside>
        <!-- End section sidebar -->


        <!-- start logo components -->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="#"> <img class="logo-tabib" src="{% static 'assets/images/download.png' %}" alt=""></a>
                <a href="#"><img class="brand-title" src="{% static 'assets/images/logo.png' %}" alt=""></a>
            </div>
        </div>
        <!-- End logo components -->


        <!-- start section header -->
        <div class="header">
            <header class="top-head container-fluid">
                <div class="nav-control">
                    <div class="hamburger">
                        <span class="line"></span><span class="line"></span><span class="line"></span>
                    </div>
                    <div class="left-header content-header__menu">
                        <ul class="list-unstyled">
                            <li class="nav-link btn">
                                <a href="{% url 'vitals' %}"><i class="far fa-calendar-check"></i> <span>Get Patient Vital Signs</span> </a>
                            </li>
                            <!-- <li class="nav-link btn">
                                <a href="new-prescription.html"><i class="far fa-file-alt"></i> <span> Write a prescription</span></a>
                            </li> -->
                        </ul>
                    </div>
                </div>
                <div class="header-right">
                    <div class="my-account-wrapper widget-7">
                        <div class="account-wrapper">
                            <div class="account-control">
                                <a class="login header-profile" href="#" title="Sign in">
                                    <div class="header-info">
                                        <span style="text-transform: capitalize;">{{ user.get_full_name }}</span>   
                                        <small>{{ user.userprofile.get_role_display }}</small> <!-- Assuming you have a role field in UserProfile model -->
                                    </div>
                                    <img src="{% if user.userprofile.profile_picture %}{{ user.userprofile.profile_picture.url }}{% else %}{% static 'assets/images/profile.jpg' %}{% endif %}" alt="Profile Picture">
                                </a>
                                <div class="account-dropdown-form dropdown-container">
                                    <div class="form-content">
                                        <a href="{% url 'nurse_settings' %}">
                                            <i class="far fa-user"></i>
                                            <span class="ml-2">Profile</span>
                                        </a>
                                        <a href="{% url 'nurse_inbox' %}">
                                            <i class="far fa-envelope"></i>
                                            <span class="ml-2">Inbox</span>
                                        </a>
                                        <a href="{% url 'login' %}">
                                            <i class="fas fa-sign-in-alt"></i>
                                            <span class="ml-2">Logout </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <!-- End section header -->


        <!-- start section content -->
        <div class="content-body">
            <div class="warper container-fluid">
                <div class="main_container">


                    <div class="row page-titles mx-0">
                        <div class="col-sm-6 p-md-0">
                            <div class="welcome-text">
                                <h4 class="text-primary">{{ worker.role|capfirst }} Profile & Settings</h4>
                            </div>
                        </div>
                        <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'homenurse' %}">Home</a></li>
                                <li class="breadcrumb-item active"><a href="#">Worker's Profile</a>
                                </li>
                            </ol>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between doctor-info-details">
                                        <div class="d-flex left-content">
                                            <div class="media align-self-start">
                                                {% if worker.user.userprofile.profile_picture %}
                                                                <img alt="image" src="{{ worker.user.userprofile.profile_picture.url }}" class="img-fluid rounded-circle" width="60">
                                                                {% else %}
                                                                <img alt="image" src="{% static 'assets/images/profile.jpg' %}" class="img-fluid rounded-circle" width="60">
                                                                {% endif %}
                                                <div class="pulse-css"></div>
                                            </div>
                                            <div class="media-body">
                                                <h2 class="mb-2"><span style="text-transform: capitalize;">{{ worker.user.get_full_name }}</span></h2>
                                                <p class="mb-md-2 mb-sm-4 mb-2">{{ worker.role|capfirst }}</p>
                                                <!-- <div class="star-review">
                                                    <i class="fa fa-star text-orange"></i>
                                                    <i class="fa fa-star text-orange"></i>
                                                    <i class="fa fa-star text-orange"></i>
                                                    <i class="fa fa-star text-orange"></i>
                                                    <i class="fa fa-star text-gray"></i>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-12">
                            <div class="doctor-info-content">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item col-md-4" role="presentation">
                                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">
                                            {{ worker.role|capfirst }}'s Information
                                        </button>
                                    </li>
                                    <li class="nav-item col-md-4" role="presentation">
                                        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">
                                            Send Message
                                        </button>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="card m-t-30">
                                            <div class="card-body">
                                                {% if messages %}
                                                    <div class="alerts">
                                                        {% for message in messages %}
                                                            <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-success{% endif %} alert-dismissible fade show" role="alert">
                                                                {{ message }}
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                                <h4 class="card-title">Short Biography</h4>
                                                {% if worker.biography %}
                                                <p>{{ worker.biography }}</p>
                                                 {% else %}
                                                <p>No biography available.</p>
                                                {% endif %}
                                            </div>
                                            <div class="row m-t-30 m-l-0 m-r-0">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h4 class="card-title">Contacts</h4>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="basic-form">
                                                            <form>
                                                                <div class="row">
                                                                    <div class="col-lg-12">
                                                                        <div class="form-group">
                                                                            <label for="fname">{{ worker.role|capfirst }}'s First Name:</label>
                                                                            <input type="text" class="form-control" placeholder="First Name" value="{{ worker.user.first_name }}" style="text-transform: capitalize;" readonly>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="lname">{{ worker.role|capfirst }}'s Last Name:</label>
                                                                            <input type="text" class="form-control" placeholder="Last Name" value="{{ worker.user.last_name }}" style="text-transform: capitalize;" readonly>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="email">{{ worker.role|capfirst }}'s Email Address:</label>
                                                                            <input type="email" class="form-control" placeholder="Email" value="{{ worker.user.email }}" readonly>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="mno">{{ worker.role|capfirst }}'s Mobile Number:</label>
                                                                            <input type="text" class="form-control" placeholder="Mobile No." value="{{ worker.mobile_number }}" readonly>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                        <div class="row m-t-30 m-l-0 m-r-0">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h4 class="card-title">Send Message</h4>
                                                </div>
                                                <div class="card-body">
                                                    <div class="basic-form">
                                                        <form method="post">
                                                            {% csrf_token %}
                                                            <div class="form-group">
                                                                <textarea name="msg" cols="100" rows="10" placeholder="Enter Your Message...."></textarea>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="submit" class="btn badge-primary">Send</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    


                </div>
            </div>
        </div>


        <!-- start section footer -->
        <div class="footer">
            <div class="copyright">
                <p class="mb-0">Copyright © Designed &amp; Developed by <a href="#" target="_blank">Paul Erhuvwu</a>
                    2024
                </p>
            </div>
        </div>
        <!-- End section footer -->

        
    </div>
    <script>
        // Auto dismiss alert after 4 seconds
        document.addEventListener('DOMContentLoaded', function() {
            setTimeout(function() {
                var alerts = document.querySelectorAll('.alert');
                alerts.forEach(function(alert) {
                    alert.classList.remove('show');
                    alert.classList.add('fade');
                    setTimeout(function() {
                        alert.style.display = 'none';
                    }, 150); // Timeout for fade transition
                });
            }, 6000);
        });
    </script>
    <!-- JQuery v3.5.1 -->
    <script src="{% static 'assets/plugins/jquery/jquery.min.js' %}"></script>

    <!-- popper js -->
    <script src="{% static 'assets/plugins/popper/popper.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.js' %}"></script>

    <!-- Moment -->
    <script src="{% static 'assets/plugins/moment/moment.min.js' %}"></script>

    <!-- Date Range Picker -->
    <script src="{% static 'assets/plugins/daterangepicker/daterangepicker.min.js' %}"></script>

    <!-- Main Custom JQuery -->
    <script src="{% static 'assets/js/toggleFullScreen.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'assets/js/option-themes.js' %}"></script>
    <!-- Tabeles -->
    <script src="{% static 'assets/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assets/js/init-tdatatable.js' %}"></script>
    <!-- Chart js -->
    <script src="{% static 'assets/plugins/chart/chart/Chart.min.js' %}"></script>
    <script src="{% static 'assets/js/charts-custom.js' %}"></script>
    <script src="{% static 'assets/js/option-themes.js' %}"></script>

</body>


</html>