{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EDSUU-BAY | Your Safe Space for Care</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" href="{% static 'assets/images/logo.png' %}">
    <!-- Base Styling  -->
    <link rel="stylesheet" href="{% static 'assets/main/css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'assets/main/css/style.css' %}">

</head>

<body>
    <div id="main-wrapper" class="show">


        <!-- start section sidebar -->
        <aside class="left-panel nicescroll-box">
            <nav class="navigation">
                <ul class="list-unstyled main-menu">
                    <li class="has-submenu active">
                        <a href="#">
                            <i class="fas fa-th-large"></i>
                            <span class="nav-label">Dashboard</span>
                        </a>
                    </li>
                    <li class="has-submenu">
                        <a href="javascript:void()" class="has-arrow mm-collapsed">
                            <i class="fas fa-users"></i>
                            <span class="nav-label">Workers</span>
                        </a>
                        <ul class="list-unstyled mm-collapse">
                            <li><a href="#">All Workers</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <a href="javascript:void()" class="has-arrow mm-collapsed">
                            <i class="fas fa-users"></i>
                            <span class="nav-label">Patients</span>
                        </a>
                        <ul class="list-unstyled mm-collapse">
                            <!-- <li><a href="new-patient.html">New Patient</a></li> -->
                            <li><a href="#">All Patients</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <a href="javascript:void()" class="has-arrow mm-collapsed">
                            <i class="fas fa-cog"></i>
                            <span class="nav-label">Settings</span>
                        </a>
                        <ul class="list-unstyled mm-collapse">
                            <li><a href="#">Account Settings</a></li>
                        </ul>
                    </li>
                    <!-- <li class="has-submenu">
                        <a href="javascript:void()" class="has-arrow mm-collapsed">
                            <i class="fa fa-tag"></i>
                            <span class="nav-label">Authentication</span>
                        </a>
                        <ul class="list-unstyled mm-collapse">
                            <li><a href="page-login.html">Login simple</a></li>
                            <li><a href="page-register.html">Register simple</a></li>
                            <li><a href="page-forgot-password.html">Page forgot password</a></li>
                            <li><a href="page-error-404.html">Error 404</a></li>
                        </ul>
                    </li> -->
                </ul>
            </nav>
        </aside>
        <!-- End section sidebar -->


        <!-- start logo components -->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="#"> <img class="logo-tabib" src="{% static 'assets/images/download.png' %}" alt=""></a>
                <a href="#"><img class="brand-title" src="{% static 'assets/images/logo.png' %}" alt=""></a>
            </div>
        </div>
        <!-- End logo components -->


        <!-- start section header -->
        <div class="header">
            <header class="top-head container-fluid">
                <div class="nav-control">
                    <div class="hamburger">
                        <span class="line"></span><span class="line"></span><span class="line"></span>
                    </div>
                    <div class="left-header content-header__menu">
                        <ul class="list-unstyled">
                            <li class="nav-link btn">
                                <a href="#" ><i class="far fa-calendar-check"></i> <span>Get Patient Vital Signs</span> </a>
                            </li>
                            <!-- <li class="nav-link btn">
                                <a href="new-prescription.html"><i class="far fa-file-alt"></i> <span> Write a prescription</span></a>
                            </li> -->
                        </ul>
                    </div>
                </div>
                <div class="header-right">
                    <div class="fullscreen notification_dropdown widget-5">
                        <div class="full">
                            <a class="text-dark" href="#!" onclick="javascript:toggleFullScreen()">
                                <i class="fas fa-expand"></i>
                            </a>
                        </div>
                    </div>
                    <div class="widget-6">
                        <div class="cart-wrapper">
                            <div class="cart-icon">
                                <a class="cart-control" href="#">
                                    <i class="fas fa-bell"></i>
                                    <div class="pulse-css"></div>
                                </a>
                            </div>
                            <div class="cart-dropdown-form dropdown-container">
                                <div class="form-content">
                                    <div class="widget-media main-scroll nicescroll-box">
                                        <ul class="timeline">
                                            <li>
                                                <h6 class="mb-0">Notitications</h6>
                                            </li>
                                            <li>
                                                <div class="timeline-panel">
                                                    <div class="media mr-2">
                                                        <img alt="image" src="{% static 'assets/images/avtar/1.jpg' %}">
                                                    </div>
                                                    <div class="media-body">
                                                        <h6 class="mb-1 ">Incoming Message</h6>
                                                        <small class="d-block">29 July 2020 - 02:26 PM</small>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="timeline-panel">
                                                    <div class="media mr-2 media-info">
                                                        <img alt="image" src="{% static 'assets/images/avtar/1.jpg' %}">
                                                    </div>
                                                    <div class="media-body">
                                                        <h6 class="mb-1">You got a new email</h6>
                                                        <small class="d-block">29 July 2020 - 02:26 PM</small>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="timeline-panel">
                                                    <div class="media mr-2 media-success">
                                                        <img alt="image" src="{% static 'assets/images/avtar/1.jpg' %}">
                                                    </div>
                                                    <div class="media-body">
                                                        <h6 class="mb-1">Hello world!</h6>
                                                        <small class="d-block">29 July 2020 - 02:26 PM</small>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="timeline-panel">
                                                    <div class="media mr-2">
                                                        <img alt="image" src="{% static 'assets/images/avtar/1.jpg' %}">
                                                    </div>
                                                    <div class="media-body">
                                                        <h6 class="mb-1">Beep Boop. Beee...</h6>
                                                        <small class="d-block">29 July 2020 - 02:26 PM</small>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="timeline-panel">
                                                    <div class="media mr-2 media-danger">
                                                        <img alt="image" src="{% static 'assets/images/avtar/1.jpg' %}">
                                                    </div>
                                                    <div class="media-body">
                                                        <h6 class="mb-1">Hello world!</h6>
                                                        <small class="d-block">29 July 2020 - 02:26 PM</small>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="timeline-panel">
                                                    <div class="media mr-2 media-primary">
                                                        <img alt="image" src="{% static 'assets/images/avtar/1.jpg' %}">
                                                    </div>
                                                    <div class="media-body">
                                                        <h6 class="mb-1">Incoming Message</h6>
                                                        <small class="d-block">29 July 2020 - 02:26 PM</small>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <a class="all-notification btn btn-primary" href="#">
                                        See all notifications
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="my-account-wrapper widget-7">
                        <div class="account-wrapper">
                            <div class="account-control">
                                <a class="login header-profile" href="#" title="Sign in">
                                    <div class="header-info">
                                        <span style="text-transform: capitalize;">{{ user.get_full_name }}</span>   
                                        <small>{{ user.userprofile.get_role_display }}</small> <!-- Assuming you have a role field in UserProfile model -->
                                    </div>
                                    <img src="{% if user.userprofile.profile_picture %}{{ user.userprofile.profile_picture.url }}{% else %}{% static 'assets/images/profile.jpg' %}{% endif %}" alt="Profile Picture">
                                </a>
                                <div class="account-dropdown-form dropdown-container">
                                    <div class="form-content">
                                        <a href="#">
                                            <i class="far fa-user"></i>
                                            <span class="ml-2">Profile</span>
                                        </a>
                                        <a href="#">
                                            <i class="far fa-envelope"></i>
                                            <span class="ml-2">Inbox</span>
                                        </a>
                                        <a href="{% url 'logout' %}">
                                            <i class="fas fa-sign-in-alt"></i>
                                            <span class="ml-2">Logout </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <!-- End section header -->


        <!-- start section content -->
        <div class="content-body">
            <div class="warper container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-lg-12 p-md-0">
                        <h4 class="text-primary">Good morning, <span class="names" style="text-transform: capitalize;">{{ user.get_full_name }}</span></h4>
                    </div>
                </div>
                <div class="new-patients main_container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card shadow">
                                <div class="card-header">
                                    <h4 class="card-title">Appointment Lists</h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table id="example1" class="display nowrap">
                                            <thead>
                                                <tr>
                                                    <th>Time</th>
                                                    <th>Date</th>
                                                    <th>Patient</th>
                                                    <th>MatNo</th>
                                                    <!-- <th>Phone</th> -->
                                                    <th>Status</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        07:00
                                                    </td>
                                                    <td>01 Jun 2022</td>
                                                    <td> Michael R Sheets </td>
                                                    <!-- <td> 1468 Selah Way - Rabat</td> -->
                                                    <td>833 - 844 - 0100</td>
                                                    <td class="text-start">
                                                        <span class="badge badge-primary">Start appt</span>
                                                    </td>
                                                    <td>
                                                        <a href="javascript:void()" class='mr-4 check'> <span
                                                                class='fas fa-check'></span></a>
                                                        <a href="javascript:void()" class='delet'> <span
                                                                class='fas fa-trash-alt tbl-delet'></span> </a>
                                                    </td>
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End section content -->


        <!-- start section footer -->
        <div class="footer">
            <div class="copyright">
                <p class="mb-0">Copyright © Designed &amp; Developed by <a href="#" target="_blank">Paul Erhuvwu</a>
                    2024
                </p>
            </div>
        </div>
        <!-- End section footer -->

        
    </div>
    <!-- JQuery v3.5.1 -->
    <script src="{% static 'assets/plugins/jquery/jquery.min.js' %}"></script>

    <!-- popper js -->
    <script src="{% static 'assets/plugins/popper/popper.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.js' %}"></script>

    <!-- Moment -->
    <script src="{% static 'assets/plugins/moment/moment.min.js' %}"></script>

    <!-- Date Range Picker -->
    <script src="{% static 'assets/plugins/daterangepicker/daterangepicker.min.js' %}"></script>

    <!-- Main Custom JQuery -->
    <script src="{% static 'assets/js/toggleFullScreen.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'assets/js/option-themes.js' %}"></script>
    <!-- Tabeles -->
    <script src="{% static 'assets/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assets/js/init-tdatatable.js' %}"></script>
    <!-- Chart js -->
    <script src="{% static 'assets/plugins/chart/chart/Chart.min.js' %}"></script>
    <script src="{% static 'assets/js/charts-custom.js' %}"></script>
    <script src="{% static 'assets/js/option-themes.js' %}"></script>

</body>


</html>